/* * {
  border: red 1px solid;
} */

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  border-bottom: 3px black solid;
  margin: 0.5em 0;
}

.App-title {
  font-size: 2em;
}

.card {
  width: 90%;
  max-width: 20em;
  margin-top: 3%;
  /* max-height: 85vh; */
}

.card-body {
  padding: 0.5rem;
  margin: 0;
  text-align: left;
}

.new-note-body {
  margin-top: 0.5rem;
}

.navbar {
  padding: 0;
  margin: 5px;
}

/* .bottom-p-tag {
  margin-bottom: 0;
} */

.note-title-btn {
  border: 0;
  padding: 0;
  color: black;
}

.search {
  margin: 1px;
}
