/* * {
  border: red 1px solid;
} */

.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100vw;
  border-bottom: 3px #1464be solid;
  margin-top: 0.5em;
}

.App-title {
  font-size: 2em;
  color: #1464be;
}

.card {
  width: 90%;
  margin: 0.5rem 0;
  /* max-height: 85vh; */
}

.card-body {
  padding: 0.5rem;
  margin: 0;
  text-align: left;
}

.error-body {
  text-align: center;
}

.new-note-body {
  margin-top: 0.5rem;
}

.navbar {
  padding: 0;
}

/* .bottom-p-tag {
  margin-bottom: 0;
} */

.note-title-btn {
  border: 0;
  padding: 0;
  color: black;
}

.search {
  margin: 1px;
}

.input-group {
  padding-bottom: 0.5rem;
}

.bin-button {
  padding: 0.25rem;
}

p {
  margin: 0;
}
